/*navbar*/
.navbar ul li::after {
  content: "";
  height: 3px;
  width: 0;
  background: rgb(214, 172, 32);
  position: absolute;
  left: 0;
  bottom: -10px;
  transition: 0.5s;
}

.navbar ul li:hover::after {
  width: 100%;
}

.navbar ul li {
  position: relative;
}

.nav-item ul li :hover {
  background-color: blueviolet !important;
  border-radius: 5px;
}

/*/navbar*/

.card:hover {
  background-color: #6b21a8;
  transition: all ease-in-out 0.25s;
  border-radius: 10px;
  color: aliceblue;
}

.card-title {
  color: gray !important;
}

.card-text {
  color: gray !important;
}

.dark-mode {
  background-color: rgb(29, 29, 29);
  color: aliceblue;
}
