#home {
  background-image: url(image/gedung_amikom1.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.text-oren {
  color: orange;
}

.selamat_datang {
  display: flex;
}
.di_website {
  display: flex;
}
.nav:hover {
  background-color: #6b21a8;
  transition: all ease-in-out 0.25s;
  border-radius: 10px;
}

.dropdown-item:hover {
  background-color: #6b21a8 !important;
  color: beige !important;
  transition: all ease-in-out 0.25s;
  border-radius: 10px;
}

}
