* {
  margin: 0;
  padding: 0;
}

.banner {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(gedung-panjang.jpg);
  background-size: cover;
  background-position: center;
}

.nav:hover {
  background-color: #f59e0b;
  transition: all ease-in-out 0.25s;
  border-radius: 10px;
}

.dropdown-item:hover {
  background-color: #6b21a8 !important;
  color: beige !important;
  transition: all ease-in-out 0.25s;
  border-radius: 10px;
}
