/*navbar*/
.nav:hover {
  background-color: #f59e0b;
  transition: all ease-in-out 0.25s;
  border-radius: 10px;
}

.dropdown-item:hover {
  background-color: #6b21a8 !important;
  color: beige !important;
  transition: all ease-in-out 0.25s;
  border-radius: 10px;
}

/*/navbar*/

p {
  color: white;
}
