/*navbar*/
.navbar ul li::after {
  content: "";
  height: 3px;
  width: 0;
  background: rgb(214, 172, 32);
  position: absolute;
  left: 0;
  bottom: -10px;
  transition: 0.5s;
}

.navbar ul li:hover::after {
  width: 100%;
}
.container-network .content {
  display: flex;
}

.navbar ul li {
  position: relative;
}

.nav-item ul li :hover {
  background-color: blueviolet !important;
  border-radius: 5px;
}

/*/navbar*/

* {
  margin: 0;
  padding: 0;
}

.container-network {
  max-width: 80%;
  margin: 70px auto;
}

.container-network .content .gambar img {
  width: 500px;
  height: 360px;
  border-radius: 20px;
  margin-right: 20px;
  margin-top: 20px;
}

.container-network .content .tulisan h1 {
  text-align: center;
  display: none;
}
.container-network .content .tulisan h4 {
  text-align: center;
  display: none;
}
.container-network .content .tulisan p {
  font-size: 12px;
  margin-top: 20px;
}
.container-network .content {
  display: flex;
  justify-content: center;
}
.container-network h1 {
  text-align: center;
}
.container-network h4 {
  font-size: 15px;
  text-align: center;
}

@media (max-width: 1024px) {
  .container-network .content .gambar img {
    width: 420px;
    height: 310px;
  }
  .container-network .content .tulisan p {
    font-size: 1px;
  }
  .container-network h1 {
    font-size: 30px;
  }
  .container-network h4 {
    font-size: 13px;
    text-align: center;
  }
}
@media (max-width: 768px) {
  .container-network .content .gambar img {
    width: 310px;
    height: 255px;
  }
  .container-network .content .tulisan p {
    font-size: 9px;
  }
  .container-network h1 {
    font-size: 30px;
  }
  .container-network h4 {
    font-size: 13px;
    text-align: center;
  }
}

.container-network {
  margin: 50px auto;
}
.container-network .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container-network .content .gambar img {
  width: 260px;
  height: 175px;
  margin-right: 0;
  margin-top: 8px;
}
.container-network .content .tulisan p {
  font-size: 9px;
}
.container-network h1 {
  font-size: 23px;
}
.container-network h4 {
  font-size: 9px;
  text-align: center;
}
@media (max-width: 376px) {
  .container-network {
    margin: 50px auto;
  }
  .container-network .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .container-network .content .gambar img {
    width: 200px;
    height: 150px;
    margin-right: 0;
    margin-top: 8px;
  }
  .container-network .content .tulisan p {
    font-size: 8px;
  }
  .container-network h1 {
    font-size: 21px;
  }
  .container-network h4 {
    font-size: 8px;
    text-align: center;
  }
}
@media (max-width: 321px) {
  .container-network {
    margin: 50px auto;
  }
  .container-network .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .container-network .content .gambar img {
    width: 170px;
    height: 120px;
    margin-right: 0;
    margin-top: 8px;
  }
  .container-network .content .tulisan p {
    font-size: 8px;
  }
  .container-network h1 {
    font-size: 21px;
  }
  .container-network h4 {
    font-size: 8px;
    text-align: center;
  }
}

.dark-mode {
  background-color: rgb(29, 29, 29);
  color: aliceblue;
}
