section {
  height: 100vh;
}
.container {
  padding-top: 5cm;
  display: flex;
  flex-direction: row-reverse;
}
.gambar {
  margin-left: 1cm;
  justify-content: center;
}
.container .tulisan {
  padding-top: 2.5cm;
}
.judul {
  text-align: center;
  padding-bottom: 2cm;
}
.row {
  padding-left: 1cm;
  padding-right: 1cm;
}
.text-justify {
  text-align: justify;
}

/*navbar*/
.navbar ul li::after {
  content: "";
  height: 3px;
  width: 0;
  background: rgb(214, 172, 32);
  position: absolute;
  left: 0;
  bottom: -10px;
  transition: 0.5s;
}

.navbar ul li:hover::after {
  width: 100%;
}

.navbar ul li {
  position: relative;
}

.nav-item ul li :hover {
  background-color: blueviolet !important;
  border-radius: 5px;
}

/*/navbar*/

.dark-mode {
  background-color: rgb(29, 29, 29);
  color: aliceblue;
}

* {
  margin: 0;
  padding: 0;
}

.container-satu {
  max-width: 80%;
  margin: 150px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-satu .gambar {
  margin-left: 50px;
}
.container-satu .gambar img {
  width: 300px;
  height: 300px;
}

.container-satu .tulisan h3 {
  font-size: 28px;
}
.container-satu .tulisan span {
  display: block;
  width: 450px;
  height: 5px;
  background-color: rgb(214, 172, 32);
  margin-bottom: 15px;
  margin-top: 15px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.container-satu .tulisan p {
  font-size: 21px;
}

@media (max-width: 1024px) {
  .container-satu .gambar img {
    width: 250px;
    height: 250px;
  }
  .container-satu .gambar {
    margin-left: 25px;
  }
  .container-satu .tulisan h3 {
    font-size: 23px;
  }
  .container-satu .tulisan p {
    font-size: 17px;
  }
  .container-satu .tulisan span {
    display: block;
    width: 350px;
    height: 3px;
  }
}
@media (max-width: 836px) {
  .container-satu .gambar img {
    width: 200px;
    height: 200px;
  }
  .container-satu .gambar {
    margin-left: 25px;
  }
  .container-satu .tulisan h3 {
    font-size: 20px;
  }
  .container-satu .tulisan p {
    font-size: 15px;
  }
  .container-satu .tulisan span {
    display: block;
    width: 250px;
    height: 3px;
  }
}
@media (max-width: 768px) {
  .container-satu .gambar img {
    width: 200px;
    height: 200px;
  }
  .container-satu .gambar {
    margin-left: 25px;
  }
  .container-satu .tulisan h3 {
    font-size: 17px;
  }
  .container-satu .tulisan p {
    font-size: 13px;
  }
  .container-satu .tulisan span {
    display: block;
    width: 250px;
    height: 3px;
  }
}
@media (max-width: 686px) {
  .container-satu .gambar img {
    width: 200px;
    height: 200px;
  }
  .container-satu .gambar {
    margin-left: 25px;
  }
  .container-satu .tulisan h3 {
    font-size: 15px;
  }
  .container-satu .tulisan p {
    font-size: 13px;
  }
  .container-satu .tulisan span {
    display: block;
    width: 250px;
    height: 3px;
  }
}
@media (max-width: 480px) {
  .container-satu {
    margin: 80px auto;
    display: flex;
    flex-direction: column-reverse;
  }
  .container-satu .gambar img {
    width: 190px;
    height: 190px;
    margin-bottom: 20px;
    margin-right: 24px;
  }
  .container-satu .tulisan h3 {
    font-size: 15px;
  }
  .container-satu .tulisan p {
    font-size: 13px;
  }
  .container-satu .tulisan span {
    display: block;
    width: 250px;
    height: 3px;
  }
}
@media (max-width: 426px) {
  .container-satu {
    margin: 80px auto;
    display: flex;
    flex-direction: column-reverse;
  }
  .container-satu .gambar img {
    width: 190px;
    height: 190px;
    margin-bottom: 20px;
    margin-right: 24px;
  }
  .container-satu .tulisan h3 {
    font-size: 15px;
  }
  .container-satu .tulisan p {
    font-size: 13px;
  }
  .container-satu .tulisan span {
    display: block;
    width: 250px;
    height: 3px;
  }
}
@media (max-width: 416px) {
  .container-satu {
    margin: 80px auto;
    display: flex;
    flex-direction: column-reverse;
  }
  .container-satu .gambar img {
    width: 190px;
    height: 190px;
    margin-bottom: 20px;
    margin-right: 24px;
  }
  .container-satu .tulisan h3 {
    font-size: 13px;
  }
  .container-satu .tulisan p {
    font-size: 13px;
  }
  .container-satu .tulisan span {
    display: block;
    width: 230px;
    height: 3px;
  }
}
@media (max-width: 376px) {
  .container-satu {
    margin: 80px auto;
    display: flex;
    flex-direction: column-reverse;
  }
  .container-satu .gambar img {
    width: 190px;
    height: 190px;
    margin-bottom: 20px;
    margin-right: 22px;
  }
  .container-satu .tulisan h3 {
    font-size: 13px;
  }
  .container-satu .tulisan p {
    font-size: 12px;
  }
  .container-satu .tulisan span {
    display: block;
    width: 210px;
    height: 3px;
  }
}
@media (max-width: 361px) {
  .container-satu {
    margin: 80px auto;
    display: flex;
    flex-direction: column-reverse;
  }
  .container-satu .gambar img {
    width: 160px;
    height: 160px;
    margin-bottom: 20px;
    margin-right: 22px;
  }
  .container-satu .tulisan h3 {
    font-size: 13px;
  }
  .container-satu .tulisan p {
    font-size: 12px;
  }
  .container-satu .tulisan span {
    display: block;
    width: 210px;
    height: 3px;
  }
}
@media (max-width: 320px) {
  .container-satu {
    margin: 80px auto;
    display: flex;
    flex-direction: column-reverse;
  }
  .container-satu .gambar img {
    width: 160px;
    height: 160px;
    margin-bottom: 20px;
    margin-right: 22px;
  }
  .container-satu .tulisan h3 {
    font-size: 12px;
  }
  .container-satu .tulisan p {
    font-size: 9px;
  }
  .container-satu .tulisan span {
    display: block;
    width: 190px;
    height: 3px;
  }
}
